<?xml version="1.0" encoding="UTF-8"?>
<!--PHPUnit configuration file-->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="./tests/php/includes/test_autoload.php"
        cacheResult="false"
        verbose="true"
        testdox="true"
        colors="true">
    <testsuites>
        <testsuite name="wpcd-coupons-and-deals">
            <directory>
                tests/php
            </directory>
        </testsuite>
    </testsuites>
</phpunit>
