.wpcd-btn {
    /*overriding any theme button color*/
    background: #fafafa !important;
}

input:disabled {
    background-color: gray;
    cursor: default;
}

.wait-block {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: #dcd7ca dashed 2px;
    animation: beat .5s ease-out alternate infinite;
}

.wait-block-wrapper > .wait-block:nth-child(even) {
    animation-delay: .3s
}

@keyframes beat {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }

}

.form-shortcode-row {
    animation: fs-fade-in .5s ease-out;
}

@keyframes fs-fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}


.form-shortcode-preview-enter-active, .form-shortcode-preview-leave-active {
    transition: all .3s ease-out;
}

.form-shortcode-preview-enter, .form-shortcode-preview-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

.form-shortcode-preview-enter-to, .form-shortcode-preview-leave {
    transform: translateX(0);
    opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
