.wpcd_div_nav_block {
    display: flex;
    justify-content: space-between;
}
#wpcd_cat_ul {
    list-style: outside none none;
    margin: 0 -10px 0;
    padding: 0 0 5px;
    position: relative;
}
.wpcd_dropbtn {
    color: #0073aa;
    cursor: pointer;
}
.wpcd_dropbtn:hover {
    color: #005177;
}
.wpcd_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    padding-top: 10px;
}
.wpcd_cats {
    width: 100%;
}
.wpcd_categories_in_dropdown:hover {
    width: 100%;
}
.wpcd_categories_in_dropdown:hover .wpcd_dropdown-content {
    display: block;
}
#wpcd_cat_ul li {
    display: inline-block;
    margin: 0 10px 10px;
    vertical-align: top;
}
#wpcd_cat_ul li a {
    font-size: 20px;
    text-decoration: none;
    box-shadow: none;
    padding: 12px 16px;
    color: black;
    line-height: 10px;
}
#wpcd_cat_ul li a.wpcd_category.active {
    color: dodgerblue;
}
#wpcd_cat_ul li a:hover {
    color: dodgerblue;
    background-color: #f1f1f1;
}
.wpcd_cat_ul_border {
    border-bottom: 1px solid #e6e9ee;
    margin-bottom: 20px;
}
.wpcd_coupon_archive_container_main {
    position: relative;
}
a.wpcd-btn {
    font-size: 13px;
    border: 2px dashed #ccc;
    color: #347BAF;
    background: #FAFAFA;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    border-radius: 2px;
    line-height: 1.3;
}
a.wpcd-coupon-button:hover {
    color: #347BAF;
    background-color: #ffffff;
    border-color: #347BAF;
}
a.wpcd-deal-button:hover {
    color: #347BAF;
    background-color: #ffffff;
    border-color: #347BAF;
}
.wpcd-coupon-image {
    text-align: center;
    margin: 0px auto;
}
.wpcd-coupon-image a {
    display: inline-block;
    width: 100%;
}
.wpcd-coupon-image amp-img {
    max-width: 100%;
    max-height: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    border: 2px dashed #000000;
    margin: auto;
}
.wpcd-coupon-image amp-img::before {
    border: 10px solid white;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#wpcd_coupon_pagination_wr {
    width: 100%;
}
#wpcd_coupon_pagination_wr a:hover, #wpcd_coupon_pagination_wr span.current {
    background-color: #3b4452;
}
#wpcd_coupon_pagination_wr a, #wpcd_coupon_pagination_wr span {
    background: #56b151;
    background-color: rgb(86, 177, 81);
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin: 0 3px 5px 0;
    padding: 12px;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
}
#wpcd_coupon_pagination_wr span.current {
    padding: 15px;
}
