.wpcd_clearfix {
    clear: both;
}
.wpcd_cat_ul_border {
    border-bottom: 1px solid #e6e9ee;
    margin-bottom: 20px;
}
#wpcd_coupon_ul {
    list-style: outside none none;
    margin: 0 -1%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#wpcd_coupon_ul li.wpcd_coupon_li {
    background-color: #ffffff;
    float: left;
    margin: 1%;
    min-height: 460px;
    width: 31.333%;
}
.wpcd_coupon_li_top_wr {
    background-color: #264d55;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    position: relative;
}
.wpcd_coupon_li_top_wr amp-img.wpcd_archive_coupon_feature_image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    min-width: 100%;
}
.wpcd_coupon_li_top_wr amp-img.wpcd_archive_coupon_feature_image img {
	object-fit: cover;
}
.wpcd_coupon_li_content {
    height: calc(100% - 250px);
    border: 1px solid #eeeeee;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.wpcd_coupon_li_content > .wpcd-coupon-title {
    padding: 15px 15px 0;
}
#wpcd_coupon_ul .wpcd-coupon-title {
    width: 100%;
    font-size: 21px;
    margin: 5px 0px 10px 0px;
}
.wpcd_coupon_li_top_btn_wr.wpcd_clearfix {
    padding: 15px 15px 0;
}
.wpcd_archive_section .wpcd_coupon_li_top_discount_left {
    width: auto;
    float: left;
    margin: 6px 0;
    max-width: 30%;
}
.wpcd_coupon_li_top_discount_left {
    color: #000000;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    width: -webkit-calc(48% - 4px);
    width: -moz-calc(48% - 4px);
    width: calc(48% - 4px);
}
.wpcd_archive_section .wpcd_btn_wr {
    width: auto;
    float: right;
    max-width: 70%;
}
.wpcd_btn_wr {
    box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    text-align: right;
    vertical-align: middle;
    width: -webkit-calc(48% - 4px);
    width: -moz-calc(48% - 4px);
    width: calc(48% - 4px);
}
.wpcd_coupon_icon {
    display: inline-block;
    height: 24px;
    margin: -2px 0px 0 0;
        margin-top: -2px;
    vertical-align: text-top;
    width: 24px;
}
.wpcd_deal_icon {
    display: inline-block;
    height: 24px;
    margin: -2px 3px 0 0;
        margin-top: -2px;
    vertical-align: text-top;
    width: 24px;
}
.wpcd_coupon_li_inner {
    padding: 15px;
    height: calc(100% - 188px);
}
.wpcd_coupon_li_description {
    line-height: 1.5;
    min-height: 90px;
    /*height: calc(100% - 60px);*/
}
#wpcd_coupon_ul .wpcd_coupon_li_description .wpcd-coupon-description p {
    text-align: justify;
    margin: 0px 0px 15px;
    font-size: inherit;
    font-weight: 300;
    padding: 0px;
    line-height: inherit;
}
.wpcd-coupon-description {
    margin-top: 10px;
    font-size: inherit;
}
.wpcd_coupon_li_bottom.wpcd_clearfix {
    border-top: 1px solid #eaeaea;
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
}
.wpcd_coupon_li_bottom.wpcd_clearfix p {
    margin: 0px;
}
p.wpcd-coupon-loop-expired {
    color: red;
}
p.wpcd-coupon-loop-expire {
    color: green;
}

.wpcd_coupon_pagination {
    margin: 20px 0;
}

#wpcd_coupon_ul li .wpcd-full-description p, #wpcd_coupon_ul li p.wpcd-coupon-loop-expire, #wpcd_coupon_ul li p.wpcd-coupon-loop-expired {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#wpcd_coupon_ul li .wpcd-full-description p::before, #wpcd_coupon_ul li p.wpcd-coupon-loop-expire:before, #wpcd_coupon_ul li p.wpcd-coupon-loop-expired:before {
    display: none;
}

@media screen and (max-width: 980px) {
	#wpcd_coupon_ul li.wpcd_coupon_li {
		width: 48%;
        margin-bottom: 12px;
	}
}

@media screen and (max-width: 600px) {
	#wpcd_coupon_ul li.wpcd_coupon_li {
		width: 100%;
	}
}

